.post-head {
    font-size: 35px;
    color: rgb(29, 93, 38);
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
}

.flex-post {
    display: flex;
    justify-content: space-between;
    width: 185vh;
}

.logo-post {
    width: 200px;
    height: fit-content;
    margin-left: 10%;
}

.flex-coln {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* padding: 2%; */
    text-align: center;
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
}

.flex-coln button {
    margin-top: 26%;
}

.card-post {
    width: 800px;
}

.flex-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-card img {
    width: 600px;
}

.card-data {
    padding: 2%;
    width: 1200px;
}

.card-data h2 {
    font-weight: 700;
    font-size: 25px;
}

.flex-space {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.post-btns button {
    background-color: wheat;
    padding: 2px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 500;
    width: 50px;
    cursor: pointer;
    color: #1e7fc3;
}

.like button:hover {
    background-color: red;
    color: white;
    font-weight: 700;
}

.like .liked {
    background-color: red;
    color: white;
    font-weight: 700;
}

.like.not-liked {
    color: red;
}

.comments {
    /* width: 500px; */
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: goldenrod;
    padding: 10px;
    margin-top: 2%;
}

.comments h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

.cmt {
    width: fit-content;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: goldenrod;
    padding: 10px;
    margin-top: 1%;
}

.cmt img {
    width: 30px;
    height: 28px;
    border-radius: 20px;
}

.cmt h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}

.comment-text {
    margin-top: 2%;
}

.comms-btn button {
    color: black;
}

.comms-btn button:active {
    color: green;
}

.comms-write {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 260px;
}


.nav-btns button.profile-btn {
    background-color: #7ee982;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-btns button.profile-btn:hover {
    background-color: #45a049;
}

.nav-btns button.profile-btn.active {
    background-color: #3e8e41;
}