@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/Background Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Inter", sans-serif;
}


.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-left: 3%;
    align-items: center;
    width: 350px;
    cursor: pointer;
    /* border: 1px solid red; */
}


.nav-btns {
    /* border: 1px solid red; */
    width: 700px;
}

.nav-btns button {
    margin: 0% 2%;
    align-items: center;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: large;
    cursor: pointer;
}

.container h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin-top: 1%;
    color: greenyellow;
}

.container p {
    text-align: center;
    font-size: 30px;
    padding: 10px 140px;
    margin-top: 1%;
}

.container button {
    /* background-color: rgba(232, 101, 19, 0.500); */
    color: white ;
    border: 3px solid rgba(61, 136, 41, 1);
    padding: 6px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 42%;
    margin-top: 1%;
    cursor: pointer;
}

.container button:hover{
    border: 3px solid white;
    color: greenyellow;
}


/* STYLING THE SIGN-UP PAGE */

header h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

header p {
    font-size: 18px;
    text-align: center;
    margin-top: 1%;
}

.main{
    width: 300px;
    height: max-content;
    background-color: rgba(61, 136, 41, 1);
    border-radius: 20px;
    text-align: center;
    margin-left: 39%;
    margin-top: 2%;
}

.main h1{
    font-size: 30px;
    font-weight: bold;
}

.main hr{
    border: 2px solid white;
}


.inputs{
    /* border: 1px solid red; */
    width: 200px;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: left;
    font-weight: 600;
}

.inputs input{
    width: 230px;
    height: 30px;
    color: rgba(61, 136, 41, 1);
}

.main button{
    background-color: white;
    color: rgba(61, 136, 41, 1);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 8%;
    font-weight: 700;
}

.main span{
    text-decoration: underline;
    cursor: pointer;
    color:greenyellow;
}

.errors{
    width: 250px;
    color:bisque;
    font-size: 12px;
    text-decoration: none;
}


/* LOG-IN PAGE STYLING */
.log-In{
    width: 100vw;
    height: 80vh;
}
.log-header{
    margin-top: 2%;
    margin-bottom: 6%;
    font-size: 30px;
    font-weight: 600;
    text-align: center  ;
}
