@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Inter", sans-serif;
}

.modal-full {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 400px;
    height: 460px;
    border-radius: 20px;
}

.modal-full button {
    position: relative;
    left: 90%;
    top: 5%;
    width: min-content;
}

.modal-info form {
    margin-left: 10%;
}

.modal-info h1 {
    font-size: 30px;
    text-align: center;
    margin-top: -30px;
    padding-bottom: 10px;
    font-weight: bold;
}

.modal-btns button {
    padding: 1% 8%;
    margin: 2% 5%;
    font-weight: 600;
    left:30px;
    border-radius: 10px;
}

.modal-btns button:first-child {
    background-color: rgb(255, 52, 52);
}

.modal-btns button:last-child {
    background-color: rgb(45, 45, 250);
}

.option input{
    margin-left: 5%;
}

.inputs textarea{
    color: black;
}

.colr{
    color: white;
}

@media (max-width: 700px) {
    .modal-full {
        width: 80%;
        height: auto;
        max-width: 400px;
        max-height: 500px;
        padding: 20px;
    }

    .modal-full button {
        margin-top: 10px;
        margin-left: -1%;
        width: 50%;
    }

    .modal-info form{
        margin-left: 8%;
    }
}
