.news-header {
    background-image: linear-gradient(to right top, white, rgba(0, 0, 0, 0.5));
    color: black;
}

.flex {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* padding: 10px 0;  */
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50vh;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    background-color: wheat; 
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%; 
    /* height: 4.5em; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    color: rgba(0, 0, 0, 0.7); 
    width: 100%; 
}

.card button {
    background-color: #1e7fc3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px; 
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #135c89;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 0 20px; 
}

hr {
    border: 3px solid rgb(255, 255, 255); 
    width: 100%; 
}

.latest {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px; 
    color: white;
}

