*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vids-header{
    z-index: 1;
}

.vids-header header{
    width: 150px;
    align-items: center;
    background-image: linear-gradient(to  top, rgb(107, 244, 119), #104f19);

}

.vids-header img {
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: -18%;
}

.pos{
    position: fixed;
    top: 0;
    left: 0;
}

.top-bar{
    position: absolute;
    left: 100%;
    width: 89vw;
    background-image: linear-gradient(to left , rgb(106, 236, 117), #104f19);
    color: white;
    z-index: 1;
}

.srch{
    margin-left: 33%;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 1;
}

.srch input{
    border: 1px solid rgba(86, 216, 51, 1);
    border-radius: 20px;
    font-size: 20px;
    padding-left: 15px;
}

.srch ::placeholder{
    color: rgba(86, 216, 51, 0.5);
    font-weight: bold;
}

.video-part{
    position: relative;
    top: 60px;
    left: 5vw;
    height: 100%;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vids{
    width: 20vw;
    margin-bottom: 30px;
    border-radius: 20px;
    z-index: 1;
}

.vids label{
    font-weight: bold;
}